/* CSS RESETS */

* {
  margin: 0;
  padding: 0;
}

/* Header Section */

header {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin: 0 auto;
}

/* Nav Bar Styling */

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  border-bottom: 2px solid #808080;
}

nav a {
  padding: 20px;
  text-decoration: none;
}
