/* CSS RESETS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header Section */

header {
  display: flex;
  justify-content: center;

  margin: 0 auto;
}

/* Nav Bar Styling */

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  border-bottom: 2px solid #808080;
}

nav a {
  padding: 20px;
  text-decoration: none;
}

/* Main Section Styling */

.main-top-container h1 {
  margin: 1rem 0;
}

.main-top-container p {
  margin: 0 8rem;
}

.emotion-header {
  width: 100vw;
  height: 40vh;
  background: no-repeat;
}

h1 {
  text-align: center;
}

.example-container-01 {
  display: flex;
  margin: 4rem 8rem;
}

.example-container-01 aside {
  padding: 0 0 2.5rem 1rem;
}

.example-container-01 img,
.example-container-02 img {
  border-radius: 10px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

.example-container-02 {
  display: flex;
  margin: 4rem 8rem;
}

.example-container-02 aside {
  padding: 0 2.5rem 0 0;
}
