/* CSS RESETS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS Variables */

:root {
  --bg-color: #373c42;
  --main-color: #212224;
  --font-color: #c9ae5d;
}

/* General Styles */

body {
  background: var(--bg-color);
  font-family: "Abel", sans-serif;
}

/* Header Section */

header {
  display: flex;
  justify-content: center;
  font-weight: 700;
  margin: 0 auto;
}

/* Nav Bar Styling */

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  width: 100vw;
  border-bottom: 2px solid #808080;
  background: var(--main-color);
}

.nav a {
  padding: 20px;
  text-decoration: none;
  color: var(--font-color);
  transition: all 0.3s ease-in-out;
}

.nav a.current,
.nav a:hover {
  color: #c0392b;
}

/* Main Section Styling */

.main-top-container h1 {
  margin: 1rem 0;
}

.main-top-container p {
  margin: 0 8rem;
}

.main-top-container img {
  object-fit: contain;
}

.emotion-header {
  width: 100vw;
  height: 40vh;
  background: no-repeat;
}

h1 {
  text-align: center;
}

.example-container-01 {
  display: flex;
  margin: 4rem 8rem;
}

.example-container-01 aside {
  padding: 0 0 2.5rem 1rem;
}

.example-container-01 img,
.example-container-02 img {
  border-radius: 10px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

.example-container-02 {
  display: flex;
  margin: 4rem 8rem;
}

.example-container-02 aside {
  padding: 0 2.5rem 0 0;
}
